<body>
  
<mat-card id = "header">
  <div class="head1">
    <img src="./assets/images/logo.png">
    <p>DiversiFood</p>
    <input type="text" class="form-control" name= "filterRest" placeholder = "¿Dónde te gustaría ir a comer?" [(ngModel)] = "filterRest">
  </div>  
  <div class="head2">
    <img src="./assets/images/icon-user-default.png">
    <p>Login</p>
    <p>Sign Up</p>
    <img src="./assets/images/options.png">
  </div>
</mat-card>
<div class="main_container">
  <div [hidden] = "displayRests"  class = "rest_container">
    <h1>Restaurantes</h1>
    <div class = "rests" *ngFor = "let rest of restaurantes | filtrar:filterRest" (click) = clickRest(rest.id)>
      <div class="img_div">
        <img src={{rest.imagen}}>
      </div>
      <div class = "info_div">
        <h2>{{rest.nombre}}</h2>
        <p>{{rest.comida}}</p>
        <p>{{rest.precio}}</p>
        <p>{{rest.puntuacion}}</p>
        <p><b>Abierto</b></p>
      </div>
      <div class = "aforo_div">
        <img src="./assets/images/grupo.png">
        <p>{{rest.afluencia}}</p>
      </div>
    </div>
  </div>
  <div [hidden] = "!displayRests" class="rest_info" [ngStyle] = "{'display': displayRests == true ? 'flex': 'none'}">
    <div class="nom_rest"><span (click) = "displayRests = false">&#8249;</span>{{selectedRest.nombre}}</div>
    <div class="img_gallery">
      <div class="column" *ngFor = "let foto of selectedRest.fotos" >
        <img src={{foto}}>
      </div>
    </div>
    <div class="general_data">
      <div class = "data_div">
        <p><b>Comida:</b> {{selectedRest.comida}}</p>
        <p>€€</p>
        <p><b>Dirección:</b> {{selectedRest.direccion}}</p>
        <p><b>Reserva:</b> {{selectedRest.reserva}}</p>
        <p><b>Terraza:</b> {{selectedRest.terraza}}</p>
        <p><b>Teléfono:</b> {{selectedRest.tel}}</p>
        <p><b>Aflluencia:</b> {{selectedRest.afluencia}}</p>
      </div>
      <div class="other_data_div">
        <div class="menu_div">
          <p style = "text-decoration: underline;">Menú</p>
          <img src="./assets/images/menu.png" alt="menu">
        </div>
        <div class="acc_div">
          <p style = "text-decoration: underline;">Accesibilidad</p>
          <img src="./assets/images/disabled.png" alt="handicap">
          <img src="./assets/images/gluten_free.png" style="width:25%;" alt="gluten-free">
          <img src="./assets/images/covid_free.png" alt="covid-free">
        </div>
      </div>
    </div>
    <button mat-button (click) = "openDialog()" class="book_btn">Reservar</button>
  </div>
  <div class="mapa">
    <h2>Seleccione un restaurante en el mapa</h2>
    <img src="./assets/images/mapa.png" alt="error :(" usemap="#image-map" >
    <map name= "image-map">
      <area target="" alt="Pizza Hot" title="Pizza Hot" href="#" coords="272,115,80" shape="circle" (click) = "clickRest(1)">
      <area target="" alt="Teriyaki Alley" title="Teriyaki Alley" href="#" coords="692,182,40" shape="circle" (click) = "clickRest(2)">
      <area target="" alt="Casa Pepe" title="Casa Pepe" href="#" coords="468,452,40" shape="circle" (click) = "clickRest(0)">
  </map>
  </div>
</div>
</body>

